<div class="row justify-content-center py-3">

  <div class="col-12 col-md-6 ">

      <div class="modal-content rounded-5 shadow  p-4 pt-5" >

            <img
              id="profile-img"
              src="../../assets/img/eldorado.jpg"
              class="img-fluid"
            />

          <br/>
          <H4 class="text-center">PROJETO DESAFIO FINAL</H4>
          <h5 class="text-center">PROGRAMA ELDORADO TECH TRAINING/SHARED TECH</h5>
          <br/>
          <h5>AUTOR: Rafael Cunha.</h5>

    </div>

 </div>


