<div class="row justify-content-center py-3">

  <div class="col-12 col-md-6 ">
      <h3 class="text-center">CADASTRO DE DEVICE</h3>
      <div class="modal-content rounded-5 shadow  p-4 pt-5" >

            <form
              *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
          >
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                placeholder="Digite aqui sua Cor."
                name="Color"
                [(ngModel)]="form.Color"
                required
                maxlength="12"
                ng-pattern="/^[a-zA-Z\s]*$/"
                #Color="ngModel"
              />

              <div *ngIf="Color.errors && f.submitted">
                <app-mensagem
                *ngIf="Color.errors['required']"
                mensagem="Cor é um campo de preenchimento obrigatório."
              ></app-mensagem>

              <app-mensagem
                *ngIf="Color.errors['maxlength']"
                  mensagem="A Category deve ter no máximo 12 caracteres."
                ></app-mensagem>
              </div>

            </div>

            <div class="form-group">
              <label for="username">Categoria</label>
              <select   [(ngModel)]="form.Category_fk"
                        name="Category_fk"
                        ng-init="ngModel='Cool'"
                        required
                        #Category_fk="ngModel"
                        class="form-control" >

                <option  *ngFor = "let row of category" [value]="row.id">{{row.Name}}</option>
              </select>
            </div>

            <div *ngIf="Category_fk.errors && f.submitted">
              <app-mensagem
              *ngIf="Category_fk.errors['required']"
              mensagem="Category é um campo de preenchimento obrigatório."
            ></app-mensagem>

            </div>

            <div class="form-group">
              <label for="username">PartNumber</label>
              <input
                type="number"
                class="form-control"
                placeholder="Digite aqui seu PartNumber."
                name="PartNumber"
                [(ngModel)]="form.PartNumber"
                required
                #PartNumber="ngModel"
              />
            </div>


            <div *ngIf="PartNumber.errors && f.submitted">
              <app-mensagem
              *ngIf="PartNumber.errors['required']"
              mensagem="PartNumber é um campo de preenchimento obrigatório."
            ></app-mensagem>
            </div>

            <div class="form-group py-3">
              <button class="w-100 btn btn-lg btn-primary btn-block">Realizar Cadastro</button>
            </div>

          </form>



    </div>

 </div>
 </div>

