<div class="card">
  <div class="card-body">
    <h4 class="text-center py-3">CADASTRO DE DEVICE</h4>

      <form class="form mt-4" [formGroup]="form" (submit)="cadastrar()">


      <div class="d-grid gap-2 py-3">

        <select formControlName="Category_fk" name="Category_fk" class="form-control" >
          <option value="" selected="selected">Selecione a Categoria</option>
          <option *ngFor = "let row of category" [value]="row.id">{{row.Name}}</option>
        </select>

      </div>

      <div class="d-grid gap-2 py-3">
          <input placeholder="Sua Color" class="form-control" formControlName="Color" />
      </div>

      <div class="d-grid gap-2 py-3">
          <input placeholder="Sua PartNumber" class="form-control" formControlName="PartNumber" />
      </div>

      <div class="d-grid gap-2 py-3">
          <button class="btn btn-primary btn-block" type="submit" >Realizar Cadastro</button>
      </div>

     </form>


  </div>
