<div class="card">
  <div class="card-body">
    <h4 class="text-center py-3">CADASTRO DE USUÁRIO</h4>


      <form class="form mt-4" [formGroup]="newSignupForm" (submit)="cadastrar()">


        <input placeholder="Seu nome" class="form-control" formControlName="name" />

        <input placeholder="e-mail" class="form-control" formControlName="email" />


            <input
              type="password"
              placeholder="Senha"
              class="form-control"
              formControlName="password"
            />


      <div class="d-grid gap-2">
          <button class="btn btn-primary btn-block" type="submit" >Realizar Cadastro</button>
      </div>

     </form>

      <p><a [routerLink]="['']"> Fazer login</a></p>


  </div>

