<div class="row justify-content-center py-3">

  <div class="col-12 col-md-6 ">

      <div class="modal-content rounded-5 shadow  p-4 pt-5" >

            <img
              id="profile-img"
              src="../../../assets/img/logo-eldorado.png"
              class="img-fluid"
            />


          <form
              *ngIf="!isLoggedIn"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >

            <div class="form-group py-3">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
              />
              <app-mensagem
                *ngIf="username.errors && f.submitted"
                mensagem="Username é um campo de preenchimento obrigatório."
              ></app-mensagem>

            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
              />
              <div
                *ngIf="password.errors && f.submitted"
              >
                <app-mensagem
                *ngIf="password.errors['required']"
                mensagem="Password é um campo de preenchimento obrigatório."
                ></app-mensagem>

                <app-mensagem
                *ngIf="password.errors['minlength']"
                    mensagem="Password com minimo 6 caracteres."
                ></app-mensagem>

              </div>
            </div>

            <div class="form-group py-3">
              <button class="w-100 btn btn-lg btn-primary btn-block">
                Entrar no Sistema
              </button>
            </div>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && isLoginFailed"
              >
                Falha ao efetuar Login:[ {{ msg }} ]
              </div>
            </div>
          </form>

          <br/>
          <div class="alert alert-success" *ngIf="isLoggedIn">
            Olá, {{ username }} Seja Bem Vindo!.
          </div>
        </div>

    </div>

 </div>


